.container-lateralMenu,
.container-lateralMenuOpen{
    position: fixed;
    width:250px;
    height:100vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #DFDFDF;
    z-index: 9999;
    transition: 1.5s
}

.container-lateralMenu a,
.container-lateralMenuOpen a{
    text-decoration: none;
    color: black;
}

.container-lateralMenu a img,
.container-lateralMenuOpen a img{
    width:100%;
    height:30px;
    margin: 20px 0;
    cursor: pointer;
}

.container-lateralMenu .favorite,
.container-lateralMenuOpen .favorite{
    display:flex;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    padding-top: 5px;
}

.container-lateralMenu .favorite:hover,
.container-lateralMenuOpen .favorite:hover{
    transform: scale(1.1);
}

.container-lateralMenu .favorite img,
.container-lateralMenuOpen .favorite img {
    height:20px;
    width:20px;
    margin-right: 10px;
}

@media only screen and (max-width: 900px) {
    .container-lateralMenu{
        margin-top: 70px;
        margin-left: -1000px;
    }

    .container-lateralMenuOpen{
        width:100%;
        margin-top: 70px;
        margin-left: 0px;
    }
    .container-lateralMenu a .logo{
        display:none;
    }
    .container-lateralMenuOpen a .logo{
        display:none;
    }

}