.container-Promo{
    background-color: #2692b7;
    background-image: linear-gradient(56deg,#0087c1 13%,#89d7bb);
    width:200px;
    min-height:145px;
    border-radius:15px;
    color: #fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
}

.container-Promo h1{
    font-size:18px;
    font-weight: 100;
    margin: 20px 15px;
}

.container-Promo button{
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    padding:10px;
    width:60%;
    font-weight: bold;
    transition: .5s
}

.container-Promo button:hover{
    background-color: rgba(255, 255, 255, 0.13)
}