.container-songs{
    margin: 0px 0 25px 50px;
}

.container-musics{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .container-Menu .Menu-Search{
        margin-left: 0;
    }
    .container-songs{
        margin-bottom: 50px;
        margin-left: 0;
    }
}