.song{
    position: absolute;
    top: 100px;
    left: 210px;
}

.song .songs-title{
    margin-left: 75px;
}

@media only screen and (max-width: 900px) {
    .song .songs-title{
        margin-left: 25px;
    }
    .song{
        left: 0px;
    }
}
